<div class="container w-100 home">
  <div class="sections row">
    <div class="left-section col-3">
      <app-navigation class="navigation-section"></app-navigation>
      <app-friend-suggestions></app-friend-suggestions>
    </div>

    <div class="col-9 bg-light rounded-3 mt-3">
      <div class="row"> 
        <div class="column">
          <img src="../../../assets/dp.jpg" style="width:100%">
          <img src="../../../assets/logo-bg.png" style="width:100%">
          <img src="../../../assets/rose.jpg" style="width:100%">
          <img src="../../../assets/logo-bg.png" style="width:100%">
          <img src="../../../assets/dp.jpg" style="width:100%">
          <img src="../../../assets/logo-bg.png" style="width:100%">
          <img src="../../../assets/logo-bg.png" style="width:100%">
        </div>
        <div class="column">
          <img src="../../../assets/dp.jpg" style="width:100%">
          <img src="../../../assets/rose.jpg" style="width:100%">
          <img src="../../../assets/rose.jpg" style="width:100%">
          <img src="../../../assets/dp.jpg" style="width:100%">
          <img src="../../../assets/rose.jpg" style="width:100%">
          <img src="../../../assets/logo-bg.png" style="width:100%">
        </div>  
        <div class="col">
          <img src="../../../assets/rose.jpg" style="width:100%">
          <img src="../../../assets/logo-bg.png" style="width:100%">
          <img src="../../../assets/rose.jpg" style="width:100%">
          <img src="../../../assets/logo-bg.png" style="width:100%">
          <img src="../../../assets/dp.jpg" style="width:100%">
          <img src="../../../assets/dp.jpg" style="width:100%">
          <img src="../../../assets/logo-bg.png" style="width:100%">
        </div>
        <div class="column">
          <img src="../../../assets/logo-bg.png" style="width:100%">
          <img src="../../../assets/rose.jpg" style="width:100%">
          <img src="../../../assets/dp.jpg" style="width:100%">
          <img src="../../../assets/logo-bg.png" style="width:100%">
          <img src="../../../assets/dp.jpg" style="width:100%">
          <img src="../../../assets/rose.jpg" style="width:100%">
        </div>
      </div>
    </div>
  </div>
</div>
