<div class="container w-100 home">
    <div class="sections row">
            <app-navigation class="navigation-section col-3"></app-navigation>  
            <div class="center-section col-6">
                <app-random-info class="info-section"></app-random-info>
                <app-posts></app-posts>
            </div>
            <div class="right-section col-3">
                <app-chats></app-chats>
                <app-friend-suggestions></app-friend-suggestions>
            </div>
    </div>
    
</div>
