<div class="container w-100 home">
  <div class="sections row">
    <div class="left-section col-3">
      <app-navigation class="navigation-section"></app-navigation>
      <app-friend-suggestions></app-friend-suggestions>
    </div>

    <div class="col-9 bg-light rounded-3 mt-3 friends-section">
      <ul class="options mt-2 p-2 d-flex justify-content-around">
        <li id="following" (click)="navigate('following')" class="active option" >Following</li>
        <li id="followers" (click)="navigate('followers')" class="option">Followers</li>
        <li id="requests" (click)="navigate('requests')" class="req option position-relative">
          Requests
          <span class="position-absolute top-1 ms-2 start-100 translate-middle badge rounded-pill bg-primary" *ngIf="getRequestCount()!=0">
            {{getRequestCount()}}
          </span>
        </li>
      </ul>

      <hr />

      <div class="outer-div row" *ngIf="content==='following'">
        <div class="list my-3 col" *ngIf="following.length>0">
          <div
            class="content ms-5 my-3 d-flex justify-content-between align-items-center"
            *ngFor="let val of following"
          >
            <img
              src="../../../assets/rose.jpg"
              alt=""
              width="50px"
              class="rounded-circle"
            />
            <div class="detail">
              <p class="fw-bold">{{val.followingUser.username}}</p>
            </div>
            <div class="action">
              <button class="svg" (click)="removeFollowing(val.id)">Unfollow</button>
            </div>
          </div>
        </div>

        <div class="h-50 col mx-5 mt-5 pt-4" *ngIf="following.length>0">
          <img src="../../../assets/following-animate.svg" alt="" width="100%">
        </div>

        <div class="h-50 col mx-5 mt-5 pt-4 d-flex flex-column justify-content-center align-items-center" *ngIf="following.length===0">
          <img src="../../../assets/following-animate.svg" alt="" width="50%">
          <p class="fw-bold text-primary text-center fs-4">No following Found! Follow to see the list.</p>
        </div>

        
      </div>

      <div class="outer-div row" *ngIf="content==='followers'">
        <div class="list my-3 col" *ngIf="followersId.length>0">
          <div
            class="content ms-5 my-3 d-flex justify-content-between align-items-center"
            *ngFor="let val of followersId; let i=index"
          >
            <img
              src="../../../assets/rose.jpg"
              alt=""
              width="50px"
              class="rounded-circle"
            />
            <div class="detail">
              <p class="fw-bold">{{followers[i].following.username}}</p>
            </div>
            <div class="action">
              <button class="svg" (click)="removeFollowers(val, followers[i].id)">Remove </button>
            </div>
          </div>
        </div>

        <div class="h-50 col mx-5 mt-5 pt-4 d-flex justify-content-center flex-column align-items-center" *ngIf="followersId.length===0">
          <img src="../../../assets/followers-animate.svg" alt="" width="50%">
          <p class="fw-bold text-primary text-center fs-4">No Followers Found!</p>
        </div>

        <div class="h-50 col mx-5 mt-5 pt-4 d-flex justify-content-center flex-column align-items-center" *ngIf="followersId.length>0">
          <img src="../../../assets/followers-animate.svg" alt="" width="100%">
        </div>
      </div>

      <div class="outer-div row" *ngIf="content==='requests'">
        <div class="list my-3 col" *ngIf="requests.length>0">
          <div
            class="content ms-5 my-3 d-flex justify-content-between align-items-center"
            *ngFor="let val of requests"
          >
            <img
              src="../../../assets/rose.jpg"
              alt=""
              width="50px"
              class="rounded-circle"
            />
            <div class="detail">
              <p>{{val.following.username}}</p>
            </div>
            <div class="action d-flex">
              <button class="btn btn-outline-danger me-3">Remove</button>
              <button class="btn btn-primary" (click)="acceptRequest(val.id)">Accept</button>
            </div>
          </div>
        </div>

        <div class="h-50 col mx-5 mt-5 pt-4" *ngIf="requests.length>0">
          <img src="../../../assets/accept-request-animate.svg" alt="" width="100%" >
        </div>

        <div class="d-flex justify-content-center align-items-center flex-column" *ngIf="requests.length===0">
          <img src="../../../assets/accept-request-animate.svg" alt="" width="50%" >
          <p class="fs-4 fw-bold text-primary mt-4">No Friend Requests Found!</p>
        </div>
      </div>


    </div>
  </div>
</div>
