<div class="container-flex bg-light w-100 main">
  <div
    class="container py-2 content d-flex justify-content-between align-items-center"
  >
    <div class="logo">
      <img
        class="rounded-pill"
        src="../../../assets/logo.png"
        height="50px"
        alt="logo"
        routerLink="/home"
      />
    </div>

    <div class="search w-50 input-group">
      <input
        class="search-input px-3 form-control rounded-pill bg-body-tertiary"
        type="search"
        placeholder="Search"
      />
    </div>

    <div class="right-nav d-flex align-items-center justify-content-between">
      <div class="add-post ms-3">
        <button
          class="btn rounded-circle btn-post bg-body-secondary"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          <i class="bi bi-plus-square-fill add-post-btn fs-5"></i>
        </button>
      </div>

      <div class="notification ms-3">
        <button
          class="notify-btn btn position-relative rounded-circle btn-notify bg-body-secondary"
        >
          <i class="bi bi-bell-fill fs-5 notify"></i>
          <!-- <ng-lottie [options]="options"></ng-lottie> -->
          <span
            class="position-absolute top-0 mt-1 start-100 translate-middle badge rounded-pill bg-danger"
          >
            1
          </span>
        </button>

        <ul class="dropdown-menu z-3">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
      </div>

      <div class="profile ms-4">
        <button
          class="btn rounded-circle bi-person-circle profile-icon fs-4 bg-body-secondary"
          (click)="logout()"
        ></button>
      </div>
    </div>
  </div>
</div>


<!-- Add Post -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add Post</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <input type="text" class="form-control" id="recipient-name" placeholder="Write what's in your mind"/>
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cancel
        </button>
        <button type="button" class="btn btn-primary">Post</button>
      </div>
    </div>
  </div>
</div>