<div class="container-flex bg-white w-100 main">
    <div class="container py-2 content d-flex justify-content-between align-items-center">

        <div class="logo">
            <img class="rounded-pill" src="../../../assets/logo.png" height="50px" alt="logo"/>
        </div>

        <div class="search w-50 input-group">
            <input class="search-input px-3 form-control rounded-pill bg-body-tertiary" type="search" placeholder="Search"/>
        </div>

        <div class="right-nav d-flex align-items-center justify-content-between">
            <div class="add-post ms-3">
                <button class="btn rounded-circle btn-post bg-body-secondary"><i class="bi bi-plus-square-fill add-post-btn fs-5"></i></button>
            </div>
    
            <div class="notification ms-3">
                <button class="notify-btn btn position-relative rounded-circle btn-notify bg-body-secondary"><i class="bi bi-bell-fill fs-5 notify"></i>  <span class="position-absolute top-0 mt-1 start-100 translate-middle badge rounded-pill bg-danger">
                    1
                  </span></button>
            </div>
    
            <div class="profile ms-4">
                <button class="btn rounded-circle bi-person-circle profile-icon fs-4 bg-body-secondary"></button>
            </div>
        </div>
    </div>
</div>
