/* You can add global styles to this file, and also import other style files */
body {
  font-family: Open Sans, sans-serif, SFMono-Regular, Menlo, Monaco, Consolas,
  "Liberation Mono", "Courier New", monospace;
}

.lottie-loader {
  width: 650px !important;
  height: 250px !important;
  position: absolute;
  top: 40%;
  left: 35%;
}