<div
  class="navigation-section text-center bg-white d-flex flex-column rounded-4 mt-3"
>
  <div class="profile-pic mt-3">
    <img src="../../../assets/dp.jpg" height="100px" class="rounded-circle" />
  </div>
  <div class="name-content mt-2 mb-0 py-0">
    <p class="fw-bold fs-5 mb-0 name">Selena Gomez</p>
    <p class="designation mt-1 fst-italic mb-1">Singer</p>
  </div>
  <div class="count-details d-flex justify-content-center text-center mt-0">
    <p class="text-center px-2">
      <span class="fw-bold">500</span><br /><span class="count"> POSTS </span>
    </p>
    <p class="text-center px-2">
      <span class="fw-bold">99M</span><br /><span class="count">
        FOLLOWERS</span
      >
    </p>
    <p class="text-center px-2">
      <span class="fw-bold">50</span><br /><span class="count"> FOLLOWING</span>
    </p>
  </div>

  <div class="options text-start ms-3">
    <div class="feeds">
      <p class="btn active common mt-0">
        <i class="bi bi-rss-fill me-2"></i> Feeds
      </p>
    </div>
    <div class="chats">
      <p class="btn common mt-0">
        <i class="bi bi-chat-left-text-fill pe-2"></i> Chats
      </p>
    </div>
    <div class="pages">
      <p class="btn common mt-0">
        <i class="bi bi-calendar2-heart-fill pe-2"></i> Pages
      </p>
    </div>
    <div class="explore">
      <p class="btn common mt-0">
        <i class="bi bi-globe-central-south-asia pe-2"></i> Explore
      </p>
    </div>
    <div class="saved">
      <p class="btn common mt-0 mb-2">
        <i class="bi bi-bookmark-check-fill pe-2"></i> Saved
      </p>
    </div>
  </div>
</div>
