.navigation-section{
    width: 18%;
    position: fixed;
}

.designation{
    letter-spacing: 2px;
}

.count-details{
    font-size: 14px;
    padding: 10px 20px;
}

.count{
    font-size: 13px;
}

.options{
    font-size: 18px;
}

.options:hover{
    color: #4188ff;
}

.common{
    margin-bottom: 5px;
}

.active{
    font-weight: bold;
    width: 98%;
    margin: 0;
    text-align: left;
    background-color: #4188ff;
    box-shadow: 0px 5px 10px 0px rgba(137, 137, 137, 0.623);
}

.active>p{
    color: white;
    padding-top: 9px;
    padding-bottom: 9px;
    display: flex;
    border: #4188ff;
}

.active>p:hover{
    color: white !important;
}

.name{
    color: #c55ff5;
}