<div class="suggestions bg-light rounded-3 position-fixed mb-2">
    <div class="scroll">
        <div class="title d-flex justify-content-between mx-3 my-2 mt-3">
            <p class="fw-bold">Suggested For You</p>
        </div>
    
        <div class="people d-flex justify-content-between mx-4" *ngFor="let var of suggesstions">
            <div class="dp">
                <img src="../../../assets/rose.jpg" alt="dp" height="50px" class="rounded-circle"/>
            </div>
            <div class="name">
                <p class="mb-0 who">Park Chayeong</p>
                <p class=" by">Suggested for you</p>
            </div>
            <div class="request">
                <button class="rounded-circle bg-body-tertiary follow-btn"><i class="bi bi-person-fill-check fs-5 text-primary"></i></button>
            </div>
        </div>
    </div>

</div>