.suggestions{
    margin-top: 26.5%;
    width: 18%;
}

.suggestions{
    position: static;
}

.scroll{
    overflow-y: auto;
    overflow-x: hidden;
}

.by{
    font-size: 12px;
    opacity: 50%;
}

.unFollow-btn{
    border: 1px solid green;
}

.who:hover{
    cursor: pointer;
    color: #4188ff;
    font-weight: bold;
}

.bi-person-fill-add{
    color: #ae00ff;
}

.follow-btn{
    border: 1px solid #4188ff;
}
