<div class="chat-section rounded-3 mt-5 position-fixed ms-3 h-75 d-flex flex-column align-items-center z-0">
    <p class="text-white text-center fw-bold mt-2">Hello Techies! <br> Welcome to TechFam</p>
  <div class="sketchfab-embed-wrapper z-0">
    <iframe
    class="m-0"
      title="Robot Playground"
      frameborder="0"
      allowfullscreen
      mozallowfullscreen="true"
      webkitallowfullscreen="true"
      allow="autoplay; fullscreen; xr-spatial-tracking"
      xr-spatial-tracking
      execution-while-out-of-viewport
      execution-while-not-rendered
      web-share
      width="100%"
      height="500"
      src="https://sketchfab.com/models/59fc99d8dcb146f3a6c16dbbcc4680da/embed?autostart=1&ui_animations=0&ui_infos=0&ui_stop=0&ui_inspector=0&ui_watermark_link=0&ui_watermark=0&ui_ar=0&ui_help=0&ui_settings=0&ui_vr=0&ui_fullscreen=0&ui_annotations=0"
    >
    </iframe>
  </div>
  <!--     
    <div class="title d-flex justify-content-between p-2 pb-1">
        <p class="fs-5">Messages</p>
        <i class="bi bi-chat-text-fill fs-4"></i>
    </div>

    <div class="serarch input-group mt-0">
        <input type="search" class="form-control rounded-pill bg-body-tertiary ps-3" placeholder="Search messages"/>
    </div>

    <div class="category d-flex mt-3 justify-content-between">
        <p class="mx-2 mt-2 fw-bold">Chats</p>
        <p class="mx-2 mt-2">Groups</p>
        <p class="mx-2 mt-2 text-primary">Requests (2)</p>
    </div>
    <div class="line mb-3">
    </div>

    <div class="people mx-2 d-flex my-1" *ngFor="let var of chats">
        <div class="dp me-3">
            <img src="../../../assets/rose" alt="dp" height="50px" class="rounded-circle">
        </div>
        <div class="name-status">
            <p class="fw-bold mb-0">Park Chaeyoung</p>
            <p class="text-success opacity-75">Online</p>
        </div>
    </div> -->
</div>
