.chat-section{
    padding: 10px 20px;
    width: 20%;
    background-color: #06001e;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.line{
    height: 1px;
    background-color: rgba(154, 153, 153, 0.456);
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
