<div class="posts-section bg-light rounded-3 my-3" *ngFor="let value of posts">
  <div class="post-layout">
    <div class="details p-3 d-flex">
      <img
        src="../../../assets/dp.jpg"
        class="rounded-circle"
        height="50px"
        alt="dp"
      />
      <div class="info ms-2">
        <p class="name fw-bold m-0">{{value.postUserId.username}}</p>
        <p class="time">13 November 2023 at 10:28 PM</p>
      </div>
    </div>
    <div class="description px-3">
      {{value.caption}}
    </div>
    <div class="images px-3 py-2 text-center">
      <img *ngIf="value.photo!==null" src="../../../assets/logo-bg.png" width="100%" />
    </div>
    <div class="line pb-2">
        <div class="color"></div>
    </div>

    <div class="actions d-flex px-4 justify-content-between align-items-center text-center w-100">
        <div class="btns align-items-center d-flex"><i class="bi bi-heart-fill fs-5 like"></i><span class="ms-2">{{value.likeCount}} Likes</span></div>
        <div class="btns d-flex align-items-center"><i class="bi bi-chat fs-5"></i><span class="ms-2">{{value.comments.length}} Comments</span></div>
        <div class="btns d-flex align-items-center"><i class="bi bi-share fs-5"></i><span class="ms-2">223 Share</span></div>
    </div>

    <hr class="horizontal mt-2">

    <div class="add-comment d-flex align-item-center px-3 pb-3">
        <div class="dp">
            <img src="../../../assets/dp.jpg" alt="dp" height="40px" class="rounded-circle">
        </div>
        <div class="write-comment input-group ps-2">
            <input type="text" class="form-control p-2 rounded-3 bg-body-tertiary" placeholder="Write your comment..."><i class="bi bi-send-arrow-up-fill fs-4"></i>
        </div>
    </div>
  </div>
</div>
